body{
    background-color:whitesmoke;
}

/* body {
    background-image: url('images/back3.jpg') !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

h1{
    font-family: Montserrat black, sans-serif;
}


h2, h3{
    font-family: Montserrat extrabold, sans-serif;
}

.btn-a {
    text-decoration: none !important;
    color:#fff;
}

/* NAV BAR */

.logo {
    font-family: Montserrat black, sans-serif;
}

li {
    list-style: none; 
    font-family: Montserrat extrabold, sans-serif;   
}

a {
    text-decoration: none !important;
    color:#494949;
    font-size: 1rem;
}

a:hover {
    color: orangered;
}

/* -----Header----- */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.navbar .logo a{
    font-size: 1.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    
}

.action_btn {
    text-decoration: none !important;
    font-family: Montserrat extrabold, sans-serif;
    color:#fff;
    font-size: 0.9rem;
}

.navbar .toggle_btn {
    color: #494949;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.btn-log {
    transition: scale 0.2 ease;
}

.btn-log:hover {
    scale: 1.05;

}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(48, 48, 48, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100px;
    display: flex;
    justify-content: center;

}

/* -----RESPONSIVE----- */
@media(max-width: 992px){
    .navbar .links,
    .navbar .btn-log{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;

    }
}

/* END NAV BAR */

/* GALERIA DE CARTAS */



.habilidad {
    font-weight: bold;
}

.btn-info{
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
    text-transform: uppercase;
    border-radius: 4px;
            
}

.info-btn{
    padding-bottom: 10px;    
}

/* .seccion-background {
    background-color:whitesmoke;    
} */

.materiales-gallery {
    background-color:whitesmoke;    
}


.container-material {
    text-align: center; 
    background-color:whitesmoke;
    
}


.materiales-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.title-materials {
    text-align: center;
    margin: 0;
    font-family: Montserrat extrabold, sans-serif;
    padding-top: 20px;
    font-size:medium;
    text-transform: uppercase;

}

.párrafo-materials {
    font-family: Montserrat, sans-serif;
    text-align:initial;
    margin: 10px;
    padding-top: 0 8px;
    font-size: small;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;    
    /* align-items: start; */
    margin: 10px;
}

.content-gallery {
    width: 100%; 
    margin-right: 5px;   
    box-sizing: border-box;
    float: left;
    text-align: center;
    /* border-radius: 20px; */
    justify-content: center;    
    align-items:start;
    /* cursor: pointer; */
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #f2f2f2;
}

.content-gallery:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.img-gallery{
    width: 70%;
    height: auto; 
    text-align: left;
    margin: 0 auto;
    display: block;
    border-radius: 20px;

}

.img-gallery {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
}

/* Cambia la imagen a color cuando se hace hover */
.img-gallery:hover {
    filter: grayscale(0%);
}

/* Estilos para pantallas más pequeñas (menos de 768px) */
@media screen and (max-width: 1000px) {
    .content-gallery {
        width: 45%; /* Ajusta el ancho para mostrar dos imágenes por fila */
    }
    .materiales-gallery {
        display: flex;
        flex-wrap: wrap;      
    }
    .img-gallery{
        object-fit: cover;
    }

    .img-gallery {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
    }
    
    /* Cambia la imagen a color cuando se hace hover */
    .img-gallery:hover {
        filter: grayscale(0%);
    }
    
}

/* Estilos para pantallas aún más pequeñas (menos de 480px) */
@media screen and (max-width: 480px) {
    .content-gallery {
        width: 90%; /* Muestra una imagen por fila */
    }
    .materiales-gallery {
        display: flex;
        flex-wrap: wrap;      
    }
    .img-gallery{
        object-fit: cover;
    }

    .img-gallery {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
    }
    
    /* Cambia la imagen a color cuando se hace hover */
    .img-gallery:hover {
        filter: grayscale(0%);
    }
    
}

/* SECCIÓN INDIVIDUAL DE USUARIOS */

.img-fluid {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
}

.img-fluid:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1000px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

@media screen and (max-width: 480px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

.title-usuario{
    /* justify-content: center; */
    padding-bottom: 20px;
}



.btn-user{
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
    text-transform: uppercase;
    border-radius: 4px;
    padding-top: 40px;   
    text-decoration: none;  
    display: flex;
    justify-content: space-between; 
    
}

.user-btn{
    padding-top: 10px;
}


/* CARRUSEL */


.swiper-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 4;
    position: relative;
  }
  
  .swiper-wrapper {
    display: flex;
    animation: slide 35s linear infinite;
    width: 100%; 
    transform: translateX(0%);
  }
  
  .swiper-slide {
    flex: 0 0 20%; 
    padding: 10px;
  }
  
  .swiper-slide img {
    width: 65%;
    height: auto;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-340%); 
    }
  }
  
  /* Estilos para la versión móvil */
  @media (max-width: 768px) {
    .swiper-slide img {
      width: 115%;
    }
    .swiper-slide {
      flex: 0 0 30%; 
      padding: 10px;
    }
    @keyframes slide {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-550%); 
      }
    }
  }
  
  /* Estilo para las imágenes en blanco y negro */
  .swiper-slide img {
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
      
  }

  /* Detener la animación cuando se pasa el cursor sobre una imagen */
.swiper-container:hover .swiper-wrapper {
    animation-play-state: paused;
}

/* Reanudar la animación cuando se retira el cursor de una imagen */
.swiper-container:not(:hover) .swiper-wrapper {
    animation-play-state: running;
}

  /* Cambia la imagen a color cuando se hace hover */
  .swiper-slide img:hover {
      filter: grayscale(0%);
  }
  
  @media (max-width: 768px){
      .swiper-slide img {
          filter: grayscale(100%);
          transition: filter 0.3s ease-in-out; /* Transición suave para el filtro */
      }
      
      /* Cambia la imagen a color cuando se hace hover */
      .swiper-slide img:hover {
          filter: grayscale(0%);
      }
  }  

  /* Estilos para la versión móvil */
  @media (max-width: 768px) {
      /* Oculta el texto y muestra solo el botón */
      .swiper-slide .content-gallery .title-materials,
      .swiper-slide .content-gallery .párrafo-materials {
          display: none;
      }
      /* Ajusta el tamaño de la imagen y el botón */
      .swiper-slide img {
          width: 100%;
          height: auto;
      }
      .swiper-slide {
          flex: 0 0 50%; /* Reduce el ancho del carrusel en dispositivos móviles */
      }
      
      @keyframes slide {
          0% {
              transform: translateX(0%);
          }
          100% {
              transform: translateX(-550%);
          }
      }

  }
  
/* BOTÓN BACK TO TOP */

/* Estilos para el contenedor del botón Back to Top */
#backToTopContainer {
    position: fixed;
    z-index: 1000;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    z-index: 9999; /* Aumentado el valor del z-index */
    right: 23px;
    width: 50px;
    height: 50px;
    background-color: rgba(169, 169, 169, 0.5);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#backToTopBtn.show {
    display: block; 
}

#backToTopBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

 
