body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #161616;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #fff;
}

.card-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.subcard {
    background-color: #323333;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.subcard-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.toggle-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.subcards {
    display: none;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}


/* NAV BAR */

.logo {
    font-family: Montserrat black, sans-serif;
}

li {
    list-style: none; 
    font-family: Montserrat extrabold, sans-serif;   
}

a {
    text-decoration: none !important;
    color:#494949;
    font-size: 1rem;
}

a:hover {
    color: orangered;
}

/* -----Header----- */
.navbar {
    width: 100%;
    height: 60px;
    position: fixed; /* Hace que la barra de navegaci贸n sea fija */
    top: 0; /* La fija en la parte superior */
    left: 0; /* Alinea a la izquierda */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: rgba(48, 48, 48, 0.2);
    backdrop-filter: blur(15px);
    z-index: 999;   
}

/* NAVBAR */
.navbar .logo a{
    font-size: 1.5rem;
    padding-left: 20px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    
}

.action_btn {
    text-decoration: none !important;
    font-family: Montserrat extrabold, sans-serif;
    color:#fff;
    font-size: 0.9rem;    
}

.navbar .toggle_btn {
    color: #363636;
    font-size: 1.5rem;
    cursor: pointer;
    display:none;

}

.btn-log {
    transition: scale 0.2 ease;
    margin-right: 15px;
}

.btn-log_in{
    transition: scale 0.2 ease;
    margin-right: 20px;
}

.btn-log:hover {
    scale: 1.05;

}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(48, 48, 48, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.dropdown_menu.open {
    height: 240px;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dropdown_menu .action_btn {
    width: 100px;
    display: flex;
    justify-content: center;

}

/* -----RESPONSIVE----- */
@media(max-width: 992px){
    .navbar .links,
    .navbar .btn-log{
        display: none;
    }
    .navbar {
        background-color: rgba(48, 48, 48, 0);
        backdrop-filter: none;
        position: relative;
    }

    .navbar .toggle_btn{
        display: block;
        color: #363636;
        font-size: 1.5rem;
        cursor: pointer;
        
    }

    .dropdown_menu {
        display: block;
    }
    .dropdown_menu li {     
        color: white;
    }
}

@media(max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset; 
    }

    .dropdown_menu li {     
        color: white;
    }

    .navbar {
        background-color: rgba(48, 48, 48, 0);
        backdrop-filter: none;
        position: relative;
    }
}


.usuarios {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.usuario {
    text-align: center;
    background-color: #141414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #fff;
}

.usuario:hover {
    transform: translateY(-5px);
}

.usuario img {
    width: 120px;
    height: 120px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.cartas {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.cartas img {
    width: 60px;
    height: 90px;
    margin: 0 5px;
    cursor: pointer;
}

/* SECCIN INDIVIDUAL DE USUARIOS */

.img-fluid {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
}

.img-fluid:hover {
    filter: grayscale(0%);
}

@media screen and (max-width: 1000px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

@media screen and (max-width: 480px){
    .img-fluid {
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out; /* Transici贸n suave para el filtro */
    }
    
    .img-fluid:hover {
        filter: grayscale(0%);
    }
}

.title-usuario{
    /* justify-content: center; */
    padding-bottom: 20px;
}



.btn-user{
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
    text-transform: uppercase;
    border-radius: 4px;
    padding-top: 40px;   
    text-decoration: none;  
    display: flex;
    justify-content: space-between; 
    
}

.user-btn{
    padding-top: 10px;
}

/* FACCIONES GANADORES */

.faccion1 span{
    color: #643b23;
}
.faccion3 span{
    color:#1f115c ;
}
.faccion4 span{
    color:#143625;
}

/* FOOTER */


footer{
    background: rgba(52, 52, 52);
    padding-top: 50px;
    z-index: 999;
}
.container-footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    /* width: 33.3%; */
    width: 100%; /* Cambia el ancho al 100% en la versi贸n m贸vil */
    margin-bottom: 20px; /* Agrega espacio entre las secciones del footer */
}


h3{
    font-family: Montserrat black, sans-serif;
    font-size:x-large;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

.p-footer {
    font-family: Montserrat, sans-serif !important;
    font-weight:bold;
    font-size:small;    
}

.list-footer{
    padding: 0;
}
.list-footer li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    font-family: Montserrat extrabold, sans-serif;
    font-size:small;
}


.list-footer li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
    
}
.list-footer li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
}

.social-icons i:hover{
    color: #f18930;
}

.fab.fa-twitter{
	font-family:sans-serif;
}
.fab.fa-twitter::before{
	content:"";
	font-size:1.2em;
}

.fa-brands--tiktok {
    color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    display: inline-block;
    width: 0.88em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000' d='M448 209.91a210.06 210.06 0 0 1-122.77-39.25v178.72A162.55 162.55 0 1 1 185 188.31v89.89a74.62 74.62 0 1 0 52.23 71.18V0h88a121.18 121.18 0 0 0 1.86 22.17A122.18 122.18 0 0 0 381 102.39a121.43 121.43 0 0 0 67 20.14Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fa-brands--tiktok:hover{
    color: #f18930;
}

.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    font-family: Montserrat, sans-serif !important;
    font-weight:bold;
    font-size:small;
}

/* Estilos para el t铆tulo "Mejores de la Semana" */
.title {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 4rem; /* Tama帽o de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convierte el texto a may煤sculas */
    color: #ff5733; /* Color anaranjado llamativo */
    margin-bottom: 20px; /* Espacio inferior para separar del siguiente contenido */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto con desplazamiento */
}

/* Estilos para el texto de la facci贸n */
.h4-facc {
    font-size: 1.8rem; /* Tama帽o de fuente mediano */
    font-weight: bold; /* Texto en negrita */
    color: #4a4a4a; /* Color gris oscuro */
    text-align: center; /* Centra el texto horizontalmente */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra de texto con desplazamiento */
}
